@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');
body{
  font-family: 'Encode Sans', sans-serif;
  background-color: #4D4C7D;
  /* background: #fff; */
  font-weight: 800;

  
}
.bg{
  background-image: url(pexels-philippe-donn-1257860.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0px);
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* =============Start TITLE=========== */
.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px;
  color: white;
  margin-bottom: 10px;
  font-weight: 800;
}
.title h2{
  font-size: 19px;
  animation-name: title;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5) ;
  background-color: #777;
}
@keyframes title{
from{
  color: red;
}
50%{
  color: yellow;
}
100%{
  color: black;
}
}
.title p{
  font-size: 20px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5) ;
  width: fit-content;
  text-align: center;
  background: rgb(0,46,55);
  background: linear-gradient(90deg, rgba(0,46,55,0) 0%, rgba(4,64,108,1) 53%);
}
/* =============End TITLE=========== */
/* Start Counttttttttttterrrrrrrrrrrrrrrrr */
.countup{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.c1{
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.c1:hover{
  transform: scale(1.1);
  opacity: 0.8;
}
.years,.days,.hours,.minutes,.seconds{
  background-color: rgb(47, 45, 45);
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}
.timeel1{
  background: rgb(0,46,55);
  background: linear-gradient(90deg, rgba(0,46,55,0) 0%, rgba(4,64,108,1) 53%);
  padding: 20px;
  text-align: center;
}
/* End Counttttttttttterrrrrrrrrrrrrrrrr */
